file:
  uploadDir: /Users/Public/uploads01
auth0:
  audience: https://strategies_backend/api
spring:
  datasource:
    password: adsads
    url: jdbc:mysql://jira.senacrio.com.br:3306/bdacompanhamento?useTimezone=true&serverTimezone=America/Sao_Paulo
    username: ads
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
  sql:
    init:
      mode: always
      platform: mysql
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-w1gjm8bhgii82b6s.us.auth0.com/
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
